@media only screen and (-webkit-min-device-pixel-ratio:1.25),
only screen and (min-device-pixel-ratio:1.25),
only screen and (min-resolution:200dpi),
only screen and (min-resolution:1.25dppx) {
    -webkit-font-smoothing: subpixel-antialiased;
}

html {
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
    line-height: 180%;
    font-weight: 200;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container video {
    position: absolute;
    z-index: 0;
}

#hero-vid {
    backface-visibility: hidden;
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    width: auto;
    z-index: -2;
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
}

.hero-img {
    margin-bottom: -120px;
}

.filter {
    z-index: -1;
    position: fixed;
    /*
    background: #2696DA;
    background-image: -webkit-linear-gradient(45deg, #2696DA, #3DB8D4);
    background-image: -moz-linear-gradient(45deg, #2696DA, #3DB8D4);
    background-image: -ms-linear-gradient(45deg, #2696DA, #3DB8D4);
    background-image: -o-linear-gradient(45deg, #2696DA, #3DB8D4);
    background-image: linear-gradient(45deg, #2696DA, #3DB8D4);
    opacity: .5;
    height: 100%;
    */
    line-height: 190vh;
    width: 100%;
    top: 0;
    text-align: center;
    vertical-align: bottom;
}

.icon-ic_keyboard_arrow_down {
    color: #fff;
}

.filter .icon-large {
    color: #ffffff;
}

.header-container {
    z-index: 1000;
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 0 16px;
}

.header-container h5 {
    color: #fff;
    margin-bottom: 24px;
}

.header-btn {
    margin-bottom: 16px;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.icon-large {
    font-size: 1.2em;
    margin-right: 12px;
    vertical-align: text-bottom;
    color: rgba(0, 0, 0, .54);
}

.bg-white {
    background: #fff;
    z-index: 1;
}

.bg-grey {
    background: #fafafa;
    z-index: 1;
}

.header-container {
    color: #FFF;
}

.bg-img .bg-img-base {
    visibility: visible;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: no-repeat center center;
    background-size: cover;
    z-index: 10;
    opacity: 0;
    -webkit-transition: visibility .225s ease, opacity .225s ease-in-out;
    transition: visibility .225s ease, opacity .225s ease-in-out;
}

.bg-img .bg-img-base.in {
    visibility: visible;
    opacity: 1;
}

p {
    margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    font-weight: 200;
    color: rgba(0, 0, 0, .87);
}

h1,
h2,
h3,
h4 {
    margin-bottom: 24px;
}

h5,
h6 {
    margin-bottom: 10px;
}

h1 {
    font-size: 42px;
    line-height: 52px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-size: 30px;
    line-height: 38px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 20px;
}

a,
a:visited {
    color: #2696DA;
    -webkit-transition: color .225s ease, background .225s ease, padding .225s ease, border .225s ease, outline .225s ease, opacity .225s ease-in-out;
    transition: color .225s ease, background .225s ease, padding .225s ease, border .225s ease, outline .225s ease, opacity .225s ease-in-out;
}

a:hover {
    color: #707070;
    text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #333;
}

.header-container a:hover,
.header-container h1 a:hover,
.header-container h2 a:hover,
.header-container h3 a:hover,
.header-container h4 a:hover,
.header-container h5 a:hover,
.header-container h6 a:hover {
    color: rgba(255, 255, 255, .7);
}

.header-container a,
.header-container a:visited {
    color: #FFF;
}

a:focus {
    text-decoration: none;
}

ul li {
    line-height: inherit;
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0px;
    -ms-interpolation-mode: bicubic;
}

figure {
    margin: 0px;
}

figure img {
    width: 100%;
}

figure iframe {
    overflow: hidden;
    width: 100% !important;
    background-color: #f4f4f4;
    border: 0px;
}

video {
    width: 100%;
    height: auto;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
.ie input[type="range"],
.ie9 input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    height: 50px;
    color: #b0b0b0;
    font-size: 15px;
    padding: 0px 20px;
    border: 1px solid #e0e0e0;
    outline: none !important;
    border-radius: 6px;
}

.ie input[type="color"],
.ie input[type="date"],
.ie input[type="datetime"],
.ie input[type="datetime-local"],
.ie input[type="email"],
.ie input[type="month"],
.ie input[type="number"],
.ie input[type="password"],
.ie input[type="range"],
.ie input[type="search"],
.ie input[type="tel"],
.ie input[type="text"],
.ie input[type="time"],
.ie input[type="url"],
.ie input[type="week"] {
    line-height: 48px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0px;
}

input[type="color"]::-webkit-color-swatch {
    border: 0px;
}

@-moz-document url-prefix() {
    input[type="color"] {
        height: 34px;
        padding: 2px;
        border-color: #707070;
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator,
input[type="week"]::-webkit-calendar-picker-indicator {
    background: #f0f0f0;
    margin-left: 5px;
}

input[type="file"] {
    line-height: 1;
}

input[type="image"] {
    background: none;
}

input[type="number"]::-webkit-inner-spin-button {
    display: block;
    position: relative;
    width: 8px;
    color: #333;
    text-align: center;
    cursor: pointer;
    margin-left: 8px;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button:before,
input[type="number"]::-webkit-inner-spin-button:after {
    position: absolute;
    right: 0px;
    font-family: monospace;
    content: '^';
}

input[type="number"]::-webkit-inner-spin-button:before {
    top: 0px;
}

input[type="number"]::-webkit-inner-spin-button:after {
    bottom: 0px;
    -webkit-transform: rotate(180deg);
}

input[type="time"]::-webkit-inner-spin-button {
    margin: 11px 0px 0px 5px;
}

::i-block-chrome,
select {
    padding: 11.5px 20px;
    -webkit-appearance: none;
}

textarea {
    padding-left: 20px;
    padding-right: 20px;
}

.btn-custom,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    color: #fff !important;
    display: inline-block;
    min-width: 160px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
    background: #2696DA;
    /*
    background-image: -webkit-linear-gradient(45deg, #2696DA, #3DB8D4);
    background-image: -moz-linear-gradient(45deg, #2696DA, #3DB8D4);
    background-image: -ms-linear-gradient(45deg, #2696DA, #3DB8D4);
    background-image: -o-linear-gradient(45deg, #2696DA, #3DB8D4);
    background-image: linear-gradient(45deg, #2696DA, #3DB8D4);
    */
    padding: 10px 20px;
    margin: 0 4px 16px 4px;
    text-align: center;
    outline: none !important;
    border-radius: 80px;
    -webkit-transition: color .225s ease, background .225s ease, border .225s ease;
    -webkit-transition: .225s ease-out !important;
    -moz-transition: .225s ease-out !important;
    -o-transition: .225s ease-out !important;
    transition: .225s ease-out !important;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    line-height: 1;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
}

.header-container .btn-custom,
.header-container input[type="button"],
.header-container input[type="submit"],
.header-container input[type="reset"],
.header-container button,
.header-container .btn-custom.btn-blue,
.header-container input[type="button"].btn-blue,
.header-container input[type="submit"].btn-blue,
.header-container input[type="reset"].btn-blue,
.header-container button.btn-blue {
    color: #FFF !important;
    background: none;
    border-color: #FFF;
    border: 1px solid #FFF;
    box-shadow: none;
}

.btn-custom:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.btn-custom.btn-blue:hover,
input[type="button"].btn-blue:hover,
input[type="submit"].btn-blue:hover,
input[type="reset"].btn-blue:hover,
button.btn-blue:hover {
    transform: translateY(-2px);
    -webkit-transition: .225s ease-out !important;
    -moz-transition: .225s ease-out !important;
    -o-transition: .225s ease-out !important;
    transition: .225s ease-out !important;
}

.btn-custom.btn-green:hover,
input[type="button"].btn-green:hover,
input[type="submit"].btn-green:hover,
input[type="reset"].btn-green:hover,
button.btn-green:hover {
    color: #FFF !important;
    background-color: #19b65b;
    border-color: #19b65b;
}

.btn-custom.btn-orange:hover,
input[type="button"].btn-orange:hover,
input[type="submit"].btn-orange:hover,
input[type="reset"].btn-orange:hover,
button.btn-orange:hover {
    color: #FFF !important;
    background-color: #ea5600;
    border-color: #ea5600;
}

.btn-custom.btn-pink:hover,
input[type="button"].btn-pink:hover,
input[type="submit"].btn-pink:hover,
input[type="reset"].btn-pink:hover,
button.btn-pink:hover {
    color: #FFF !important;
    background-color: #f00078;
    border-color: #f00078;
}

.btn-custom.btn-purple:hover,
input[type="button"].btn-purple:hover,
input[type="submit"].btn-purple:hover,
input[type="reset"].btn-purple:hover,
button.btn-purple:hover {
    color: #FFF !important;
    background-color: #52118a;
    border-color: #52118a;
}

.btn-custom.btn-yellow:hover,
input[type="button"].btn-yellow:hover,
input[type="submit"].btn-yellow:hover,
input[type="reset"].btn-yellow:hover,
button.btn-yellow:hover {
    color: #FFF !important;
    background-color: #eea100;
    border-color: #eea100;
}

.header-container .btn-custom.btn-border,
.header-container input[type="button"].btn-border,
.header-container input[type="submit"].btn-border,
.header-container input[type="reset"].btn-border,
.header-container button.btn-border,
.header-container .btn-custom.btn-blue.btn-border,
.header-container input[type="button"].btn-blue.btn-border,
.header-container input[type="submit"].btn-blue.btn-border,
.header-container input[type="reset"].btn-blue.btn-border,
.header-container button.btn-blue.btn-border {
    color: #FFF !important;
}

.header-container .btn-custom:hover,
.header-container input[type="button"]:hover,
.header-container input[type="submit"]:hover,
.header-container input[type="reset"]:hover,
.header-container button:hover,
.header-container .btn-custom.btn-blue:hover,
.header-container input[type="button"].btn-blue:hover,
.header-container input[type="submit"].btn-blue:hover,
.header-container input[type="reset"].btn-blue:hover,
.header-container button.btn-blue:hover {
    color: #2696DA !important;
    background-color: #FFF;
    border-color: #FFF;
}

.header-container .btn-custom.btn-border:hover,
.header-container input[type="button"].btn-border:hover,
.header-container input[type="submit"].btn-border:hover,
.header-container input[type="reset"].btn-border:hover,
.header-container button.btn-border:hover {
    background-color: #FFF;
    border-color: #FFF;
}

.btn-custom.disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
button:disabled,
.header-container .btn-custom.disabled,
.header-container input[type="button"]:disabled,
.header-container input[type="submit"]:disabled,
.header-container input[type="reset"]:disabled,
.header-container button:disabled,
.btn-custom.btn-border.disabled,
input[type="button"].btn-border:disabled,
input[type="submit"].btn-border:disabled,
input[type="reset"].btn-border:disabled,
button.btn-border:disabled,
.header-container .btn-custom.btn-blue.btn-border.disabled,
.header-container input[type="button"].btn-blue.btn-border:disabled,
.header-container input[type="submit"].btn-blue.btn-border:disabled,
.header-container input[type="reset"].btn-blue.btn-border:disabled,
.header-container button.btn-blue.btn-border:disabled,
.btn-custom.disabled:hover,
input[type="button"]:disabled:hover,
input[type="submit"]:disabled:hover,
input[type="reset"]:disabled:hover,
button:disabled:hover,
.header-container .btn-custom.disabled:hover,
.header-container input[type="button"]:disabled:hover,
.header-container input[type="submit"]:disabled:hover,
.header-container input[type="reset"]:disabled:hover,
.header-container button:disabled:hover,
.btn-custom.btn-border.disabled:hover,
input[type="button"].btn-border:disabled:hover,
input[type="submit"].btn-border:disabled:hover,
input[type="reset"].btn-border:disabled:hover,
button.btn-border:disabled:hover,
.header-container .btn-custom.btn-blue.btn-border.disabled:hover,
.header-container input[type="button"].btn-blue.btn-border:disabled:hover,
.header-container input[type="submit"].btn-blue.btn-border:disabled:hover,
.header-container input[type="reset"].btn-blue.btn-border:disabled:hover,
.header-container button.btn-blue.btn-border:disabled:hover {
    color: rgba(255, 255, 255, .7) !important;
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    box-shadow: none;
}

.fa-lg {
    margin-right: 8px;
}

button.close {
    color: #404040 !important;
    font-size: 20px;
    margin: 0px;
    border-radius: 0px;
}

button.close:hover {
    color: #111;
    background: none;
    border: 0px;
}

.alert h4 {
    margin-bottom: 10px;
}

.tooltip-inner {
    padding: 6px 12px 5px;
    border-radius: 0px;
}

.padding-30 {
    padding: 0 30px;
}

.padding-top0 {
    padding-top: 0px !important;
}

.padding-right0 {
    padding-right: 0px !important;
}

.padding-bottom0 {
    padding-bottom: 0px !important;
}

.padding-left0 {
    padding-left: 0px !important;
}

.padding-top10 {
    padding-top: 10px !important;
}

.padding-top20 {
    padding-top: 20px !important;
}

.padding-top30 {
    padding-top: 30px !important;
}

.padding-top40 {
    padding-top: 40px !important;
}

.padding-top50 {
    padding-top: 50px !important;
}

.padding-top60 {
    padding-top: 60px !important;
}

.padding-top70 {
    padding-top: 70px !important;
}

.padding-top80 {
    padding-top: 80px !important;
}

.padding-top90 {
    padding-top: 90px !important;
}

.padding-top100 {
    padding-top: 100px !important;
}

.padding-top110 {
    padding-top: 110px !important;
}

.padding-top120 {
    padding-top: 120px !important;
}

.padding-bottom10 {
    padding-bottom: 10px !important;
}

.padding-bottom20 {
    padding-bottom: 20px !important;
}

.padding-bottom30 {
    padding-bottom: 30px !important;
}

.padding-bottom40 {
    padding-bottom: 40px !important;
}

.padding-bottom50 {
    padding-bottom: 50px !important;
}

.padding-bottom60 {
    padding-bottom: 60px !important;
}

.padding-bottom70 {
    padding-bottom: 70px !important;
}

.padding-bottom80 {
    padding-bottom: 80px !important;
}

.padding-bottom90 {
    padding-bottom: 90px !important;
}

.padding-bottom100 {
    padding-bottom: 100px !important;
}

.padding-bottom110 {
    padding-bottom: 110px !important;
}

.padding-bottom120 {
    padding-bottom: 120px !important;
}

.margin-top0 {
    margin-top: 0px !important;
}

.margin-right0 {
    margin-right: 0px !important;
}

.margin-bottom0 {
    margin-bottom: 0px !important;
}

.margin-left0 {
    margin-left: 0px !important;
}

.margin-top10 {
    margin-top: 10px !important;
}

.margin-top20 {
    margin-top: 20px !important;
}

.margin-top30 {
    margin-top: 30px !important;
}

.margin-top40 {
    margin-top: 40px !important;
}

.margin-top50 {
    margin-top: 50px !important;
}

.margin-top60 {
    margin-top: 60px !important;
}

.margin-top70 {
    margin-top: 70px !important;
}

.margin-top80 {
    margin-top: 80px !important;
}

.margin-top90 {
    margin-top: 90px !important;
}

.margin-top100 {
    margin-top: 100px !important;
}

.margin-top110 {
    margin-top: 110px !important;
}

.margin-top120 {
    margin-top: 120px !important;
}

.margin-bottom10 {
    margin-bottom: 10px !important;
}

.margin-bottom20 {
    margin-bottom: 20px !important;
}

.margin-bottom30 {
    margin-bottom: 30px !important;
}

.margin-bottom40 {
    margin-bottom: 40px !important;
}

.margin-bottom50 {
    margin-bottom: 50px !important;
}

.margin-bottom60 {
    margin-bottom: 60px !important;
}

.margin-bottom70 {
    margin-bottom: 70px !important;
}

.margin-bottom80 {
    margin-bottom: 80px !important;
}

.margin-bottom90 {
    margin-bottom: 90px !important;
}

.margin-bottom100 {
    margin-bottom: 100px !important;
}

.margin-bottom110 {
    margin-bottom: 110px !important;
}

.margin-bottom120 {
    margin-bottom: 120px !important;
}

.container-wrap:before,
.container-wrap:after {
    display: table;
    content: '';
}

.container-wrap:after {
    clear: both;
}

.container-wrap .col-txt {
    min-height: 500px;
    padding-top: 140px;
}

.container-wrap .col-pull-left,
.container-wrap .col-pull-right {
    float: left;
    width: 50%;
    padding-right: 15px;
    margin-top: -500px;
}

.container-wrap .col-pull-right {
    float: right;
    padding: 0px 0px 0px 15px;
}

.container-wrap .col-pull-left.col-pull-4>div,
.container-wrap .col-pull-left.col-pull-4>figure {
    margin-left: -4%;
}

.container-wrap .col-pull-left.col-pull-8>div,
.container-wrap .col-pull-left.col-pull-8>figure {
    margin-left: -8%;
}

.container-wrap .col-pull-left.col-pull-12>div,
.container-wrap .col-pull-left.col-pull-12>figure {
    margin-left: -12%;
}

.container-wrap .col-pull-left.col-pull-16>div,
.container-wrap .col-pull-left.col-pull-16>figure {
    margin-left: -16%;
}

.container-wrap .col-pull-left.col-pull-20>div,
.container-wrap .col-pull-left.col-pull-20>figure {
    margin-left: -20%;
}

.container-wrap .col-pull-left.col-pull-24>div,
.container-wrap .col-pull-left.col-pull-24>figure {
    margin-left: -24%;
}

.container-wrap .col-pull-left.col-pull-28>div,
.container-wrap .col-pull-left.col-pull-28>figure {
    margin-left: -28%;
}

.container-wrap .col-pull-left.col-pull-32>div,
.container-wrap .col-pull-left.col-pull-32>figure {
    margin-left: -32%;
}

.container-wrap .col-pull-left.col-pull-36>div,
.container-wrap .col-pull-left.col-pull-36>figure {
    margin-left: -36%;
}

.container-wrap .col-pull-left.col-pull-40>div,
.container-wrap .col-pull-left.col-pull-40>figure {
    margin-left: -40%;
}

.container-wrap .col-pull-right.col-pull-4>div,
.container-wrap .col-pull-right.col-pull-4>figure {
    margin-right: -4%;
}

.container-wrap .col-pull-right.col-pull-8>div,
.container-wrap .col-pull-right.col-pull-8>figure {
    margin-right: -8%;
}

.container-wrap .col-pull-right.col-pull-12>div,
.container-wrap .col-pull-right.col-pull-12>figure {
    margin-right: -12%;
}

.container-wrap .col-pull-right.col-pull-16>div,
.container-wrap .col-pull-right.col-pull-16>figure {
    margin-right: -16%;
}

.container-wrap .col-pull-right.col-pull-20>div,
.container-wrap .col-pull-right.col-pull-20>figure {
    margin-right: -20%;
}

.container-wrap .col-pull-right.col-pull-24>div,
.container-wrap .col-pull-right.col-pull-24>figure {
    margin-right: -24%;
}

.container-wrap .col-pull-right.col-pull-28>div,
.container-wrap .col-pull-right.col-pull-28>figure {
    margin-right: -28%;
}

.container-wrap .col-pull-right.col-pull-32>div,
.container-wrap .col-pull-right.col-pull-32>figure {
    margin-right: -32%;
}

.container-wrap .col-pull-right.col-pull-36>div,
.container-wrap .col-pull-right.col-pull-36>figure {
    margin-right: -36%;
}

.container-wrap .col-pull-right.col-pull-40>div,
.container-wrap .col-pull-right.col-pull-40>figure {
    margin-right: -40%;
}

.container-wrap .col-pull-left .img-padding {
    padding-left: 15px;
}

.container-wrap .col-pull-right .img-padding {
    padding-right: 15px;
}

.container-padding60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.text-wrap60 {
    padding-top: 60px;
}

.btn-appstore:hover,
.btn-playstore:hover {
    opacity: .8;
}

.post-heading-left {
    margin-bottom: 40px;
}

.post-heading {
    width: 80px;
    background: #FEC447;
    height: 1px;
    margin: 8px auto;
}

.post-heading-left:after {
    display: block;
    width: 80px;
    height: 1px;
    content: '';
    background: #FEC447;
    margin: 8px 0px;
}

.post-heading-center {
    text-align: center;
    padding: 0px 140px;
    margin-bottom: 48px;
}

.download h5 {
    margin-bottom: 24px;
}

.post-heading-left h2,
.post-heading-center h2 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 20px;
}

.post-heading-center h2 {
    font-size: 30px;
    line-height: 44px;
}

.post-heading-left p {
    margin: 20px 0px 0px;
}

.post-heading-center p {
    color: #2696DA;
    font-size: 15px;
    margin-bottom: 10px;
}

.header-container .post-heading-center p {
    color: #FFF;
}

.shadow {
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .2);
}

.img-hover h4 {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 20px;
}

.img-hover figure {
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}

.img-layers {
    position: relative;
}

.img-layers img {
    width: 100%;
}

.img-layers .img-layer-left,
.img-layers .img-layer-right {
    position: relative;
    z-index: 100;
}

.img-layers.img-layer-left-front .img-layer-right {
    padding-left: 32%;
}

.img-layers.img-layer-right-front .img-layer-left {
    padding-right: 32%;
}

.img-layers.img-layer-left-front .img-layer-left,
.img-layers.img-layer-right-front .img-layer-right {
    position: absolute;
    right: 32%;
    bottom: 0px;
    left: 0px;
    z-index: 110;
}

.img-layers.img-layer-right-front .img-layer-right {
    right: 0px;
    left: 32%;
}

.img-layers2 {
    position: relative;
}

.img-layers2 img {
    width: 100%;
}

.img-layers2 .img-layer-left,
.img-layers2 .img-layer-right {
    position: relative;
    z-index: 110;
}

.img-layers2.img-layer-left-front .img-layer-left {
    padding-right: 30%;
}

.img-layers2.img-layer-right-front .img-layer-right {
    padding-left: 30%;
}

.img-layers2.img-layer-left-front .img-layer-right,
.img-layers2.img-layer-right-front .img-layer-left {
    position: absolute;
    top: 3%;
    right: 0px;
    left: 36%;
    z-index: 100;
}

.img-layers2.img-layer-right-front .img-layer-left {
    right: 36%;
    left: 0px;
}

.img-layers3 {
    position: relative;
}

.img-layers3 img {
    width: 100%;
}

.img-layers3.img-pull-left .img-layer-lg {
    padding-left: 12%;
    z-index: 100;
}

.img-layers3.img-pull-right .img-layer-lg {
    padding-right: 12%;
    z-index: 100;
}

.img-layers3.img-pull-left .img-layer-md,
.img-layers3.img-pull-right .img-layer-md {
    position: absolute;
    right: 62.5%;
    bottom: 0px;
    left: 0px;
    z-index: 110;
}

.img-layers3.img-pull-right .img-layer-md {
    right: 0px;
    left: 62.5%;
}

.img-layers3.img-pull-left .img-layer-sm,
.img-layers3.img-pull-right .img-layer-sm {
    position: absolute;
    right: 51%;
    bottom: 0px;
    left: 26%;
    z-index: 120;
}

.img-layers3.img-pull-right .img-layer-sm {
    right: 26%;
    left: 51%;
}

.img-layers4 {
    position: relative;
}

.img-layers4 img {
    width: 100%;
}

.img-layers4.img-md-left .img-layer-lg {
    padding-left: 8%;
    z-index: 100;
}

.img-layers4.img-md-right .img-layer-lg {
    padding-right: 8%;
    z-index: 100;
}

.img-layers4.img-md-left .img-layer-md,
.img-layers4.img-md-right .img-layer-md {
    position: absolute;
    right: 49%;
    bottom: 0px;
    left: 0px;
    z-index: 110;
}

.img-layers4.img-md-right .img-layer-md {
    right: 0px;
    left: 49%;
}

.img-layers4.img-md-left .img-layer-sm,
.img-layers4.img-md-right .img-layer-sm {
    position: absolute;
    right: 0px;
    bottom: 1.7%;
    left: 82%;
    z-index: 120;
}

.img-layers4.img-md-right .img-layer-sm {
    right: 82%;
    left: 0px;
}

.img-layers-wrap {
    overflow: hidden;
}

.img-layers-wrap .img-layers,
.img-layers-wrap .img-layers2 {
    margin-bottom: -30%;
}

.img-layers-wrap .img-layers3,
.img-layers-wrap .img-layers4 {
    margin-bottom: -17.5%;
}

img.parallax-slider {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility .225s ease, opacity .225s ease-in-out;
    transition: visibility .225s ease, opacity .225s ease-in-out;
}

img.parallax-slider.loaded,
.ie img.parallax-slider,
.ie9 img.parallax-slider {
    visibility: visible;
    opacity: 1;
}

.animation {
    visibility: hidden;
}

.animated,
.ie .animation,
.ie9 .animation {
    visibility: visible;
}

.footer {
    padding-bottom: 30px;
    background: #fff;
}

.footer .footer-txt,
.footer .footer-txt a {
    color: rgba(0, 0, 0, .54);
}

.footer .footer-txt a:hover {
    color: rgba(0, 0, 0, .87);
}

.footer .footer-logo {
    text-align: center;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.ie .footer .footer-logo {
    border-bottom: 1px solid #FFF;
}

.footer .footer-logo img {
    max-height: 60px;
}

.footer .footer-copyright {
    overflow: hidden;
}

.footer .copyright-txt {
    float: left;
    font-size: 15px;
    margin: 0px;
}

.footer .socials {
    float: right;
    margin: 0px 10px;
}

.footer .company-info {
    font-size: 12px;
    line-height: 150%;
    margin-top: 10px;
}

.footer .socials a {
    margin-left: 15px;
    font-size: 16px;
}

.footer .scrollup {
    display: none;
    width: 48px;
    color: rgba(255, 255, 255, .7);
    font-size: 48px;
    line-height: 1;
    text-align: center;
    padding-bottom: 20px;
    margin: 0px auto;
}

.footer .scrollup:hover {
    color: #FFF;
}

@media (min-width: 1200px) {
    .padding-top0-lg {
        padding-top: 0px !important;
    }
    .padding-right0-lg {
        padding-right: 0px !important;
    }
    .padding-bottom0-lg {
        padding-bottom: 0px !important;
    }
    .padding-left0-lg {
        padding-left: 0px !important;
    }
    .padding-top10-lg {
        padding-top: 10px !important;
    }
    .padding-top20-lg {
        padding-top: 20px !important;
    }
    .padding-top30-lg {
        padding-top: 30px !important;
    }
    .padding-top40-lg {
        padding-top: 40px !important;
    }
    .padding-top50-lg {
        padding-top: 50px !important;
    }
    .padding-top60-lg {
        padding-top: 60px !important;
    }
    .padding-top70-lg {
        padding-top: 70px !important;
    }
    .padding-top80-lg {
        padding-top: 80px !important;
    }
    .padding-bottom10-lg {
        padding-bottom: 10px !important;
    }
    .padding-bottom20-lg {
        padding-bottom: 20px !important;
    }
    .padding-bottom30-lg {
        padding-bottom: 30px !important;
    }
    .padding-bottom40-lg {
        padding-bottom: 40px !important;
    }
    .padding-bottom50-lg {
        padding-bottom: 50px !important;
    }
    .padding-bottom60-lg {
        padding-bottom: 60px !important;
    }
    .padding-bottom70-lg {
        padding-bottom: 70px !important;
    }
    .padding-bottom80-lg {
        padding-bottom: 80px !important;
    }
    .padding-side30-lg {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .margin-top0-lg {
        margin-top: 0px !important;
    }
    .margin-right0-lg {
        margin-right: 0px !important;
    }
    .margin-bottom0-lg {
        margin-bottom: 0px !important;
    }
    .margin-left0-lg {
        margin-left: 0px !important;
    }
    .margin-top10-lg {
        margin-top: 10px !important;
    }
    .margin-top20-lg {
        margin-top: 20px !important;
    }
    .margin-top30-lg {
        margin-top: 30px !important;
    }
    .margin-top40-lg {
        margin-top: 40px !important;
    }
    .margin-top50-lg {
        margin-top: 50px !important;
    }
    .margin-top60-lg {
        margin-top: 60px !important;
    }
    .margin-top70-lg {
        margin-top: 70px !important;
    }
    .margin-top80-lg {
        margin-top: 80px !important;
    }
    .margin-bottom10-lg {
        margin-bottom: 10px !important;
    }
    .margin-bottom20-lg {
        margin-bottom: 20px !important;
    }
    .margin-bottom30-lg {
        margin-bottom: 30px !important;
    }
    .margin-bottom40-lg {
        margin-bottom: 40px !important;
    }
    .margin-bottom50-lg {
        margin-bottom: 50px !important;
    }
    .margin-bottom60-lg {
        margin-bottom: 60px !important;
    }
    .margin-bottom70-lg {
        margin-bottom: 70px !important;
    }
    .margin-bottom80-lg {
        margin-bottom: 80px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .padding-top0-md {
        padding-top: 0px !important;
    }
    .padding-right0-md {
        padding-right: 0px !important;
    }
    .padding-bottom0-md {
        padding-bottom: 0px !important;
    }
    .padding-left0-md {
        padding-left: 0px !important;
    }
    .padding-top10-md {
        padding-top: 10px !important;
    }
    .padding-top20-md {
        padding-top: 20px !important;
    }
    .padding-top30-md {
        padding-top: 30px !important;
    }
    .padding-top40-md {
        padding-top: 40px !important;
    }
    .padding-top50-md {
        padding-top: 50px !important;
    }
    .padding-top60-md {
        padding-top: 60px !important;
    }
    .padding-top70-md {
        padding-top: 70px !important;
    }
    .padding-top80-md {
        padding-top: 80px !important;
    }
    .padding-bottom10-md {
        padding-bottom: 10px !important;
    }
    .padding-bottom20-md {
        padding-bottom: 20px !important;
    }
    .padding-bottom30-md {
        padding-bottom: 30px !important;
    }
    .padding-bottom40-md {
        padding-bottom: 40px !important;
    }
    .padding-bottom50-md {
        padding-bottom: 50px !important;
    }
    .padding-bottom60-md {
        padding-bottom: 60px !important;
    }
    .padding-bottom70-md {
        padding-bottom: 70px !important;
    }
    .padding-bottom80-md {
        padding-bottom: 80px !important;
    }
    .margin-top0-md {
        margin-top: 0px !important;
    }
    .margin-right0-md {
        margin-right: 0px !important;
    }
    .margin-bottom0-md {
        margin-bottom: 0px !important;
    }
    .margin-left0-md {
        margin-left: 0px !important;
    }
    .margin-top10-md {
        margin-top: 10px !important;
    }
    .margin-top20-md {
        margin-top: 20px !important;
    }
    .margin-top30-md {
        margin-top: 30px !important;
    }
    .margin-top40-md {
        margin-top: 40px !important;
    }
    .margin-top50-md {
        margin-top: 50px !important;
    }
    .margin-top60-md {
        margin-top: 60px !important;
    }
    .margin-top70-md {
        margin-top: 70px !important;
    }
    .margin-top80-md {
        margin-top: 80px !important;
    }
    .margin-bottom10-md {
        margin-bottom: 10px !important;
    }
    .margin-bottom20-md {
        margin-bottom: 20px !important;
    }
    .margin-bottom30-md {
        margin-bottom: 30px !important;
    }
    .margin-bottom40-md {
        margin-bottom: 40px !important;
    }
    .margin-bottom50-md {
        margin-bottom: 50px !important;
    }
    .margin-bottom60-md {
        margin-bottom: 60px !important;
    }
    .margin-bottom70-md {
        margin-bottom: 70px !important;
    }
    .margin-bottom80-md {
        margin-bottom: 80px !important;
    }
    .container-wrap .col-txt {
        min-height: 250px;
        padding-top: 0px;
    }
    .container-wrap .col-pull-left,
    .container-wrap .col-pull-right {
        margin-top: -250px;
    }
    .text-wrap40 {
        padding-top: 0px;
    }
    .text-wrap60,
    .text-wrap80,
    .text-wrap100,
    .text-wrap120 {
        padding-top: 40px;
    }
    .text-padding {
        padding: 0px 140px;
    }
    .post-heading-center {
        padding: 0px 60px;
    }
    .post-heading-left h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .post-heading-center h2 {
        font-size: 32px;
        line-height: 40px;
    }
    #header .nav>li {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .padding-top0-sm {
        padding-top: 0px !important;
    }
    .padding-right0-sm {
        padding-right: 0px !important;
    }
    .padding-bottom0-sm {
        padding-bottom: 0px !important;
    }
    .padding-left0-sm {
        padding-left: 0px !important;
    }
    .padding-top10-sm {
        padding-top: 10px !important;
    }
    .padding-top20-sm {
        padding-top: 20px !important;
    }
    .padding-top30-sm {
        padding-top: 30px !important;
    }
    .padding-top40-sm {
        padding-top: 40px !important;
    }
    .padding-top50-sm {
        padding-top: 50px !important;
    }
    .padding-top60-sm {
        padding-top: 60px !important;
    }
    .padding-top70-sm {
        padding-top: 70px !important;
    }
    .padding-top80-sm {
        padding-top: 80px !important;
    }
    .padding-bottom10-sm {
        padding-bottom: 10px !important;
    }
    .padding-bottom20-sm {
        padding-bottom: 20px !important;
    }
    .padding-bottom30-sm {
        padding-bottom: 30px !important;
    }
    .padding-bottom40-sm {
        padding-bottom: 40px !important;
    }
    .padding-bottom50-sm {
        padding-bottom: 50px !important;
    }
    .padding-bottom60-sm {
        padding-bottom: 60px !important;
    }
    .padding-bottom70-sm {
        padding-bottom: 70px !important;
    }
    .padding-bottom80-sm {
        padding-bottom: 80px !important;
    }
    .margin-top0-sm {
        margin-top: 0px !important;
    }
    .margin-right0-sm {
        margin-right: 0px !important;
    }
    .margin-bottom0-sm {
        margin-bottom: 0px !important;
    }
    .margin-left0-sm {
        margin-left: 0px !important;
    }
    .margin-top10-sm {
        margin-top: 10px !important;
    }
    .margin-top20-sm {
        margin-top: 20px !important;
    }
    .margin-top30-sm {
        margin-top: 30px !important;
    }
    .margin-top40-sm {
        margin-top: 40px !important;
    }
    .margin-top50-sm {
        margin-top: 50px !important;
    }
    .margin-top60-sm {
        margin-top: 60px !important;
    }
    .margin-top70-sm {
        margin-top: 70px !important;
    }
    .margin-top80-sm {
        margin-top: 80px !important;
    }
    .margin-bottom10-sm {
        margin-bottom: 10px !important;
    }
    .margin-bottom20-sm {
        margin-bottom: 20px !important;
    }
    .margin-bottom30-sm {
        margin-bottom: 30px !important;
    }
    .margin-bottom40-sm {
        margin-bottom: 40px !important;
    }
    .margin-bottom50-sm {
        margin-bottom: 50px !important;
    }
    .margin-bottom60-sm {
        margin-bottom: 60px !important;
    }
    .margin-bottom70-sm {
        margin-bottom: 70px !important;
    }
    .margin-bottom80-sm {
        margin-bottom: 80px !important;
    }
    .container-wrap .col-txt {
        min-height: 0px;
        padding-top: 0px;
    }
    .container-wrap .col-pull-left,
    .container-wrap .col-pull-right {
        float: none;
        width: 720px;
        padding: 0px;
        margin: 0px auto;
    }
    .container-wrap .col-pull-left.col-pull-4>div,
    .container-wrap .col-pull-left.col-pull-4>figure,
    .container-wrap .col-pull-left.col-pull-8>div,
    .container-wrap .col-pull-left.col-pull-8>figure,
    .container-wrap .col-pull-left.col-pull-12>div,
    .container-wrap .col-pull-left.col-pull-12>figure,
    .container-wrap .col-pull-left.col-pull-16>div,
    .container-wrap .col-pull-left.col-pull-16>figure,
    .container-wrap .col-pull-left.col-pull-20>div,
    .container-wrap .col-pull-left.col-pull-20>figure,
    .container-wrap .col-pull-left.col-pull-24>div,
    .container-wrap .col-pull-left.col-pull-24>figure,
    .container-wrap .col-pull-left.col-pull-28>div,
    .container-wrap .col-pull-left.col-pull-28>figure,
    .container-wrap .col-pull-left.col-pull-32>div,
    .container-wrap .col-pull-left.col-pull-32>figure,
    .container-wrap .col-pull-left.col-pull-36>div,
    .container-wrap .col-pull-left.col-pull-36>figure,
    .container-wrap .col-pull-left.col-pull-40>div,
    .container-wrap .col-pull-left.col-pull-40>figure,
    .container-wrap .col-pull-right.col-pull-4>div,
    .container-wrap .col-pull-right.col-pull-4>figure,
    .container-wrap .col-pull-right.col-pull-8>div,
    .container-wrap .col-pull-right.col-pull-8>figure,
    .container-wrap .col-pull-right.col-pull-12>div,
    .container-wrap .col-pull-right.col-pull-12>figure,
    .container-wrap .col-pull-right.col-pull-16>div,
    .container-wrap .col-pull-right.col-pull-16>figure,
    .container-wrap .col-pull-right.col-pull-20>div,
    .container-wrap .col-pull-right.col-pull-20>figure,
    .container-wrap .col-pull-right.col-pull-24>div,
    .container-wrap .col-pull-right.col-pull-24>figure,
    .container-wrap .col-pull-right.col-pull-28>div,
    .container-wrap .col-pull-right.col-pull-28>figure,
    .container-wrap .col-pull-right.col-pull-32>div,
    .container-wrap .col-pull-right.col-pull-32>figure,
    .container-wrap .col-pull-right.col-pull-36>div,
    .container-wrap .col-pull-right.col-pull-36>figure,
    .container-wrap .col-pull-right.col-pull-40>div,
    .container-wrap .col-pull-right.col-pull-40>figure {
        margin: 0px;
    }
    .container-wrap .col-pull-left .img-padding {
        padding-left: 0px;
    }
    .container-wrap .col-pull-right .img-padding {
        padding-right: 0px;
    }
    .text-wrap40,
    .text-wrap60,
    .text-wrap80,
    .text-wrap100,
    .text-wrap120 {
        padding-top: 0px;
    }
    .text-padding,
    .post-heading-center {
        padding: 0px;
    }
    .post-heading-left h2 {
        font-size: 26px;
        line-height: 34px;
    }
    .post-heading-center h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .post-heading-center p {
        font-size: 15px;
        line-height: 22px;
    }
}

@media (max-width: 767px) {
    #header .logo {
        margin-top: -40px;
        margin-bottom: 0px;
    }
    .padding-top0-xs {
        padding-top: 0px !important;
    }
    .padding-right0-xs {
        padding-right: 0px !important;
    }
    .padding-bottom0-xs {
        padding-bottom: 0px !important;
    }
    .padding-left0-xs {
        padding-left: 0px !important;
    }
    .padding-top10-xs {
        padding-top: 10px !important;
    }
    .padding-top20-xs {
        padding-top: 20px !important;
    }
    .padding-top30-xs {
        padding-top: 30px !important;
    }
    .padding-top40-xs {
        padding-top: 40px !important;
    }
    .padding-top50-xs {
        padding-top: 50px !important;
    }
    .padding-top60-xs {
        padding-top: 60px !important;
    }
    .padding-top70-xs {
        padding-top: 70px !important;
    }
    .padding-top80-xs {
        padding-top: 80px !important;
    }
    .padding-bottom10-xs {
        padding-bottom: 10px !important;
    }
    .padding-bottom20-xs {
        padding-bottom: 20px !important;
    }
    .padding-bottom30-xs {
        padding-bottom: 30px !important;
    }
    .padding-bottom40-xs {
        padding-bottom: 40px !important;
    }
    .padding-bottom50-xs {
        padding-bottom: 50px !important;
    }
    .padding-bottom60-xs {
        padding-bottom: 60px !important;
    }
    .padding-bottom70-xs {
        padding-bottom: 70px !important;
    }
    .padding-bottom80-xs {
        padding-bottom: 80px !important;
    }
    .margin-top0-xs {
        margin-top: 0px !important;
    }
    .margin-right0-xs {
        margin-right: 0px !important;
    }
    .margin-bottom0-xs {
        margin-bottom: 0px !important;
    }
    .margin-left0-xs {
        margin-left: 0px !important;
    }
    .margin-top10-xs {
        margin-top: 10px !important;
    }
    .margin-top20-xs {
        margin-top: 20px !important;
    }
    .margin-top30-xs {
        margin-top: 30px !important;
    }
    .margin-top40-xs {
        margin-top: 40px !important;
    }
    .margin-top50-xs {
        margin-top: 50px !important;
    }
    .margin-top60-xs {
        margin-top: 60px !important;
    }
    .margin-top70-xs {
        margin-top: 70px !important;
    }
    .margin-top80-xs {
        margin-top: 80px !important;
    }
    .margin-bottom10-xs {
        margin-bottom: 10px !important;
    }
    .margin-bottom20-xs {
        margin-bottom: 20px !important;
    }
    .margin-bottom30-xs {
        margin-bottom: 30px !important;
    }
    .margin-bottom40-xs {
        margin-bottom: 40px !important;
    }
    .margin-bottom50-xs {
        margin-bottom: 50px !important;
    }
    .margin-bottom60-xs {
        margin-bottom: 60px !important;
    }
    .margin-bottom70-xs {
        margin-bottom: 70px !important;
    }
    .margin-bottom80-xs {
        margin-bottom: 80px !important;
    }
    .container-wrap .col-txt {
        min-height: 0px;
        padding-top: 0px;
    }
    .container-wrap .col-pull-left,
    .container-wrap .col-pull-right {
        float: none;
        width: auto;
        padding: 0px 15px;
        margin: 0px auto;
    }
    .container-wrap .col-pull-left.col-pull-4>div,
    .container-wrap .col-pull-left.col-pull-4>figure,
    .container-wrap .col-pull-left.col-pull-8>div,
    .container-wrap .col-pull-left.col-pull-8>figure,
    .container-wrap .col-pull-left.col-pull-12>div,
    .container-wrap .col-pull-left.col-pull-12>figure,
    .container-wrap .col-pull-left.col-pull-16>div,
    .container-wrap .col-pull-left.col-pull-16>figure,
    .container-wrap .col-pull-left.col-pull-20>div,
    .container-wrap .col-pull-left.col-pull-20>figure,
    .container-wrap .col-pull-left.col-pull-24>div,
    .container-wrap .col-pull-left.col-pull-24>figure,
    .container-wrap .col-pull-left.col-pull-28>div,
    .container-wrap .col-pull-left.col-pull-28>figure,
    .container-wrap .col-pull-left.col-pull-32>div,
    .container-wrap .col-pull-left.col-pull-32>figure,
    .container-wrap .col-pull-left.col-pull-36>div,
    .container-wrap .col-pull-left.col-pull-36>figure,
    .container-wrap .col-pull-left.col-pull-40>div,
    .container-wrap .col-pull-left.col-pull-40>figure,
    .container-wrap .col-pull-right.col-pull-4>div,
    .container-wrap .col-pull-right.col-pull-4>figure,
    .container-wrap .col-pull-right.col-pull-8>div,
    .container-wrap .col-pull-right.col-pull-8>figure,
    .container-wrap .col-pull-right.col-pull-12>div,
    .container-wrap .col-pull-right.col-pull-12>figure,
    .container-wrap .col-pull-right.col-pull-16>div,
    .container-wrap .col-pull-right.col-pull-16>figure,
    .container-wrap .col-pull-right.col-pull-20>div,
    .container-wrap .col-pull-right.col-pull-20>figure,
    .container-wrap .col-pull-right.col-pull-24>div,
    .container-wrap .col-pull-right.col-pull-24>figure,
    .container-wrap .col-pull-right.col-pull-28>div,
    .container-wrap .col-pull-right.col-pull-28>figure,
    .container-wrap .col-pull-right.col-pull-32>div,
    .container-wrap .col-pull-right.col-pull-32>figure,
    .container-wrap .col-pull-right.col-pull-36>div,
    .container-wrap .col-pull-right.col-pull-36>figure,
    .container-wrap .col-pull-right.col-pull-40>div,
    .container-wrap .col-pull-right.col-pull-40>figure {
        margin: 0px;
    }
    .container-wrap .col-pull-left .img-padding {
        padding-left: 0px;
    }
    .container-wrap .col-pull-right .img-padding {
        padding-right: 0px;
    }
    .text-wrap40,
    .text-wrap60,
    .text-wrap80,
    .text-wrap100,
    .text-wrap120 {
        padding: 20px 15px 0 15px;
    }
    .post-heading-center:after {
        margin: 15px 0px;
    }
    .btn-appstore,
    .btn-playstore {
        margin-right: 15px;
        margin-left: 15px;
    }
    .post-heading {
        margin: 8px 0px;
    }
    .text-padding,
    .post-heading-center {
        padding: 0px 15px;
        text-align: left;
    }
    .post-heading-left h2 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -1px;
    }
    .post-heading-center h2 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -1.5px;
    }
    .post-heading-center p {
        font-size: 15px;
        line-height: 22px;
    }
    h4 {
        font-size: 21px;
        letter-spacing: -.5px;
    }
    h5 {
        letter-spacing: -.5px;
    }
    .row-clients>div {
        float: left;
        width: 50%;
    }
    .footer .footer-txt {
        padding-top: 0px;
    }
    .footer .footer-logo img {
        max-height: 60px;
    }
    .footer .footer-copyright {
        text-align: center;
    }
    .footer .socials,
    .footer .socials a {
        margin: 20px 10px 0 10px;
        float: none;
    }
    .footer .copyright-txt {
        float: none;
        font-style: normal;
        padding: 20px 0px 0px 0px;
    }
    .footer .scrollup {
        display: block;
    }
}

.logo {
    margin-bottom: 24px;
}

small {
    font-style: italic;
}
