<div class="footer">
    <div class="container">
        <hr>
        <div>
            <div class="footer-nav">
                <a href="/notice.html" target="_self">공지사항</a>
                <a href="/promotion.html" target="_self">프로모션</a>
                <a href="/faq.html" target="_self">자주하는 질문</a>
            </div>
            <div class="footer-policies">
                <a href="/policy.html?id=715ShfZTxesUoIWS6ygwQq" target="_self">서비스 이용약관</a>
                <a href="/policy.html?id=77iF5zelziO2CUOceGKEGk" target="_self">개인정보 처리방침</a>
                <a href="/policy.html?id=1h2Oj72yPmKMCGSeqOmIIM" target="_self">국외여행 이용약관</a>
            </div>
        </div>
        <div class="clear">&nbsp;</div>
        <hr>
        <div class="socials">
            <a href="https://www.facebook.com/kyte.travel" target="_blank" title="Kyte Facebook Page"><i class="fab fa-facebook-f fa-lg"></i></a>
            <a href="https://www.instagram.com/kyte.travel" target="_blank" title="Kyte Instagram"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="https://blog.naver.com/kytetravel" target="_blank" title="Kyte Blog"><span class="icon-ic_blog fa-lg"></span></a>
        <!--<a href="https://www.youtube.com/channel/UCTlMCS5MPSUnkDLnQbKtEJQ" target="_blank" title="Kyte YouTube"><i class="fab fa-youtube fa-lg"></i></a>-->
        </div>
        <div class="copyright">© Square Lab
            <div class="company-info">(주)스퀘어랩<br>04542 서울특별시 중구 청계천로 100 시그니쳐타워 서관 16층<br>사업자등록번호 767-87-00365 | 통신판매업신고번호 2017-서울중구-0306호<br>대표자 김도연 | 대표번호 1833-5861 | 이메일 contact@squarelab.co</div>
        </div>
    </div>
</div>