// color

$white: #ffffff;
$white-38: rgba(255,255,255,.38);
$blue:  #2175ff;
$darkGray: #272727;
$black-87: rgba(0,0,0,.87);
$black-60: rgba(0,0,0,.60);
$black-38: rgba(0,0,0,.38);
$black-24: rgba(0,0,0,.24);
$black-04: rgba(0,0,0,.04);


// font
@mixin font-h5 {
    font-size: 16px;
    font-weight: 800;
}
@mixin font-14 {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
}
@mixin font-13 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
@mixin font-13-2 {
    font-size: 13px;
    line-height: 26px;
}


// break point

$breakpoint-mobile: 1024px;
@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
    // @media (max-width: #{$breakpoint-mobile - 1px}) {
      @content;
    }
}

$breakpoint-tablet: 1280px;
@mixin tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
}