---
layout: default
---
<script type="text/javascript">
    var domain;
    var kyteWithDeeplink;
    var accessToken;
    var appStore = 'https://itunes.apple.com/app/apple-store/id1208047465?mt=8';
    var googlePlay = 'https://play.google.com/store/apps/details?id=co.squarelab.kyte';

    if (window.location.href.indexOf('https://kyte.travel/') == 0) {
        domain = 'https://cdn.contentful.com';
        accessToken = '2568c3311665ce63b835b7818f369ee6535d6fe5da4f15112f061cacf986227c';
    } else {
        domain = 'https://preview.contentful.com';
        accessToken = '8e2508e2bd1694c00df73687654485bf812981a764bb8ee9d0a68d0eb1628c2f';
    }
    var url = domain + '/spaces/x63mv991hgep/entries?access_token=' + accessToken + '&order=fields.order,-sys.createdAt&content_type=';
    var parameters = getParameters();

    $(function() {
        if (document.referrer.indexOf("https://kyte.travel/app") == 0) {
            kyteWithDeeplink = true;
            document.getElementById('nav').style.display = 'none';
            document.getElementById('footer').style.display = 'none';
            document.getElementById('body').style.paddingTop = 0;
        } else {
            kyteWithDeeplink = false;
        }

        if (parameters.query) {
            document.getElementById('search').value = decodeURI(parameters.query);
            getEntries(url + 'faq' + '&query=' + parameters.query, true);
        } else {
            var contentType = '{{page.url | replace: '/', ''}}';
            getEntries(url + contentType.replace('.html', ''), true);
        }
    })

    function getParameters() {
        var parameters = {};
        var vars = window.location.search.substring(1).split('&');
        var pair;
        for (var i = 0; i < vars.length; i++) {
            pair = vars[i].split('=');
            if (typeof parameters[pair[0]] === 'undefined') {
                parameters[pair[0]] = pair[1];
            } else if (typeof parameters[pair[0]] === 'string') {
                parameters[pair[0]] = [parameters[pair[0]], pair[1]];
            } else {
                parameters[pair[0]].push(pair[1]);
            }
        }
        return parameters;
    }

    function getEntries(query, updateEntry) {
        fetch(query)
            .then(response => response.json())
            .then(function(entries) {
                if (entries.items.length) {
                    buildSidebar(entries);
                    if (updateEntry) {
                        getEntry(parameters.id || entries.items[0].sys.id);
                    } else {
                        activeSidebar();
                    }
                } else {
                    if (parameters.id) {
                        getEntries(url + 'faq', true);
                    } else {
                        getEntries(url + 'faq', false);
                        document.getElementById('title').innerHTML = '\"' + decodeURI(parameters.query) + '\"에 대한 검색 결과';
                        document.getElementById('content').innerHTML = '\"' + decodeURI(parameters.query) + '\"에 대한 검색 결과가 없습니다.<br>다른 검색어로 검색해 보세요';
                    }
                }
            })
    }

    function buildSidebar(entries) {
        var categories = {};
        var category;
        entries.items.forEach(function(item) {
            category = item.fields.category;
            if (!categories[category]) {
                categories[category] = [];
            }
            categories[category].push({
                "title": item.fields.title,
                "id": item.sys.id
            });
        })

        var html = '';
        for (category in categories) {
            html += '<li><a class=\"folder\" href=\"#\">' + category + '</a><ul style=\"display: none;\">'
            for (var item of categories[category]) {
                html += '<li><a href=\"javascript:getEntry(\'' + item.id + '\');\">' + item.title + '</a></li>'
            }
            html += '</ul></li>';
        }
        document.getElementById('sidebar').innerHTML = html;

        $('#collapseAll').click(function(e) {
            e.preventDefault();
            $('#sidebar').navgoco('toggle', false);
        });

        $('#expandAll').click(function(e) {
            e.preventDefault();
            $('#sidebar').navgoco('toggle', true);
        });
    }

    function getEntry(id, ignorePushState) {
        fetch(domain + '/spaces/x63mv991hgep/entries/' + id + '?access_token=' + accessToken)
            .then(response => response.json())
            .then(function(entry) {
                if (entry.fields) {
                    document.getElementById('title').innerHTML = entry.fields.title;
                    document.getElementById('content').innerHTML = marked(entry.fields.content.replace(/\n/g, '<br>'));
                    activeSidebar(entry.fields.title);
                    if (!ignorePushState) pushState(id);
                }
            });
    }

    function activeSidebar(title) {
        $('li').each(function(index) {
            if ($(this).text().search(title) > -1) {
                $(this).attr('class', 'active');
            } else {
                $(this).attr('class', '');
            }
        });

        $('#sidebar').navgoco({
            caretHtml: '',
            accordion: true,
            openClass: 'active',
            save: false, // leave false or nav highlighting doesn't work right
            cookie: {
                name: 'navgoco',
                expires: false,
                path: '/'
            },
            slide: {
                duration: 400,
                easing: 'swing'
            }
        });
    }

    function pushState(id) {
        if (typeof(history.pushState) == 'function') {
            if (location.href.indexOf('?') == -1) {
                history.pushState(null, null, location.href + '?id=' + id);
            } else {
                if (location.href.indexOf('?id') > -1) {
                    history.pushState(null, null, location.href.replace(/id=\w+/ig, '') + 'id=' + id);
                } else {
                    history.pushState(null, null, location.href.replace(/&id=\w+/ig, '') + '&id=' + id);
                }
            }
        }
    }

    $(window).on('popstate', function(event) {
        parameters = getParameters();
        getEntry(parameters.id, true);
    })

    function onClick(url) {
        var userAgent = navigator.userAgent.toLowerCase();
        document.getElementById('sidebar').innerHTML = document.referrer;

        if (userAgent.indexOf('iphone') > -1 || userAgent.search('ipod') > -1 || userAgent.search('ipad') > -1) {
            if (kyteWithDeeplink) {
                location.href = url;
            } else {
                setTimeout(function() {
                    location.href = appStore;
                }, 500);
            }
        } else if (userAgent.search('android') > -1) {
            if (userAgent.search('build') > -1) {
                if (kyteWithDeeplink) {
                    location.href = url;
                } else {
                    setTimeout(function() {
                        location.href = googlePlay;
                    }, 500);
                }
            } else {
                location.href = url;
                setTimeout(function() {
                    location.href = googlePlay;
                }, 500);
            }
        } else {
            location.href = 'https://kyte.travel/';
        }
    }

</script>
<nav class="navbar navbar-inverse fixed-top" id="nav">
    <div class="container topnavlinks">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/images/logo-dark.svg" class="logo"></a>
        </div>
        <div id="search-container">
            <form action="/faq.html">
                <input type="text" id="search" name="query" placeholder="&#xe909; 자주하는 질문">
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul id="sidebar" class="nav">
            </ul>
        </div>
        <div class="col-md-9 padding-bottom">
            <h2 id="title" class="post-title-main"></h2>
            <div id="content">
            </div>
        </div>
    </div>
</div>
